<!DOCTYPE html>
<html lang="en" ng-app="portfolio">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Andrew McConville</title>

    <style>*{box-sizing:border-box;}body{margin:0;}.ng-cloak{display: none !important;}a,button{outline:0;padding:0;}h1,h2,h3,h4,h5,h6,p,a,img,article,aside,figure,figcaption,footer,header,menu,nav,section,summary,time,ul{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}ol,ul{list-style:none}</style>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="shared/css/style.css">
</head>

<body id="js-body" ng-controller="appCtrl" ng-click="menuOpen = false">
    <header class="app-header" ng-class="{'hidden-on-mobile': isDetailsState}">
        <div class="toolbar">
            <button class="button button-secondary" ng-click="menuOpen = true; $event.stopPropagation();">
                <svg class="icon icon-menu" ng-class="{'spin': menuOpen}"><use xlink:href="shared/icon-sprite.svg#icon-menu"></use></svg>
            </button>
            <div class="title">Andrew McConville</div>
        </div>
        <nav class="tabs" ng-init="activeTab = 0">
            <button class="button" ui-sref-active="active" ui-sref="about">About Me</button>
            <button class="button" ui-sref-active="active" ui-sref="interface">Interfaces</button>
            <button class="button" ui-sref-active="active" ui-sref="infographic">Infographics</button>
        </nav>
    </header>

    <div ui-view></div>

    <nav class="app-menu ng-cloak" ng-show="menuOpen">
        <button class="button button-secondary button-back" ng-click="menuOpen = false">
            <svg class="icon icon-arrow" ng-class="{'spin': menuOpen}"><use xlink:href="shared/icon-sprite.svg#icon-arrow"></use></svg>
        </button>
        <ul class="menu-links" ng-class="{'stager': menuOpen}">
            <li class="menu-link" ui-sref="about">
                <a ui-sref="about">About</a></li>
            <li class="menu-link" ui-sref="interface">
                <a ui-sref="interface">Interfaces</a></li>
            <li class="menu-link" ui-sref="infographic">
                <a ui-sref="infographic">Infographics</a></li>
            <li class="menu-link">Resume</li>
            <li class="menu-link">
                <a href="https://www.linkedin.com/in/andrewmcconville" target="_blank">LinkedIn</a>
            </li>
            <li class="menu-link">
                <a href="https://profiles.google.com/mcconvilleandrew/about" target="_blank">Google</a>
            </li>
            <li class="menu-link">
                <a href="mailto:andrew@andrewmcconville.com">andrew@andrewmcconville.com</a>
            </li>
        </ul>
    </nav>

    <script src="shared/js/libs/imagesloaded.pkgd.min.js"></script>
    <script src="shared/js/libs/angular.min.js"></script>
    <script src="shared/js/libs/angular-ui-router.min.js"></script>
    <script src="shared/js/libs/angular-animate.min.js"></script>
    <script src="shared/js/libs/fastclick.js"></script>
    <script src="shared/js/libs/perfect-scrollbar.min.js"></script>
    <script src="shared/js/app.js"></script>
    <script src="shared/js/appServices.js"></script>
    <script src="components/detailsController.js"></script>
    <script src="components/workListController.js"></script>
    <script>
        if('addEventListener' in document){
            document.addEventListener('DOMContentLoaded', function(){
                FastClick.attach(document.body);
            }, false);
        }
    </script>
</body>
</html>
