@import 'shadows';

button,
.button {
	appearance: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: table-cell;
	font-size: 15px;
	font-weight: 600;
	line-height: 14px;
	padding: 12px 18px 12px 18px;
	text-decoration: none;
	text-transform: uppercase;
	transition: background-color 150ms;
	vertical-align: middle;

	&:hover,
	&:active {
		transition: background-color 150ms;
	}

	.icon {
		display: block;
	}
}

.button-primary {
	background-color: $pink-600;
	box-shadow: $shadow-z-2;
	color: #fff;

	&:hover { background-color: $pink-500; }
	&:active { background-color: $pink-400; }
}

.button-secondary {
	color: $pink-600;
}

.button-link {
	color: $pink-600;
	display: inline-block;
	height: 28px;
	min-width: 100px;
	opacity: .5;
	padding: 7px;
	text-align: center;

	&:hover {
		background-color: #000;
		opacity: 1;
	}
}