$font-primary: rgba(0, 0, 0, .87);
$font-secondary: rgba(0, 0, 0, .54);

$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;

$pink-400: #EC407A;
$pink-500: #E91E63;
$pink-600: #D81B60;

$indigo-500: #3F51B5;
$indigo-700: #303F9F;
$indigo-900: #1A237E;
$indigo-900-b: #0C1A44;

$blue-200: #90CAF9;
$blue-300: #64B5F6;
$blue-500: #2196F3;

$deep-purple-100: #D1C4E9;
$deep-purple-200: #B39DDB;
$deep-purple-700: #512DA8;

$green-200: #A5D6A7;
$green-300: #81C784;
$green-700: #388E3C;

$brown-200: #BCAAA4;
$brown-300: #A1887F;
$brown-700: #5D4037;

$status-prospect: $green-700;
$status-working: $blue-500;
$status-done: $deep-purple-700;
$status-archive: $brown-700;