.app-header {
	background-color: $slate-500;
	box-shadow: $shadow-z-3;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;

	.toolbar {
		height: 54px;
		margin: auto;
		width: 320px;

		@media(min-width: 360px) { width: 360px; }
		@media(min-width: 530px) { width: 530px; }
		@media(min-width: 700px) { width: 700px; }
		@media(min-width: 870px) {
			margin: 0;
			width: 360px;
		}
	}

	.icon-menu {
		fill: #fff;
		height: 18px;
		width: 18px;
	}

	.title {
		color: rgba(255, 255, 255, .75);
		display: inline-block;
		position: relative;
		top: -3px;
	}

	.tabs {
		margin: auto;
		width: 320px;

		@media(min-width: 360px) { width: 360px; }
		@media(min-width: 530px) { width: 530px; }
		@media(min-width: 700px) { width: 700px; }
		@media(min-width: 870px) {
			margin: 0;
			width: 360px;
		}
	}
}