.app-header {
	background-color: $slate-500;
	box-shadow: $shadow-z-3;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;

	.toolbar {
		height: 54px;
		margin: auto;
		width: 100%;

		@media(min-width: 888px) {
			margin: 0;
			width: 360px;
		}

		.button {
			height: 54px;
		}
	}

	.icon-menu {
		fill: #fff;
		height: 18px;
		width: 18px;
	}

	.title {
		color: rgba(255, 255, 255, .75);
		display: inline-block;
		vertical-align: middle;
	}

	.tabs {
		margin: auto;
		width: 100%;

		@media(min-width: 888px) {
			margin: 0;
			width: 360px;
		}
	}
}