body {
	color: rgba(0, 0, 0, .666);
	font-family: 'Titillium Web', sans-serif;
}

.font-headline {
	color: rgba(0, 0, 0, .666);
	font-size: 46px;
	font-weight: 200;
}

.font-caption {
	color: rgba(0, 0, 0, .5);
	font-size: 14px;
	font-style: italic;
}