.work-list {
	margin: auto;
	padding: 108px 4px 10px 4px;
	width: 320px;

	@media(min-width: 360px) { width: 360px; }
	@media(min-width: 536px) { width: 536px; }
	@media(min-width: 712px) { width: 712px; }
	@media(min-width: 888px) {
		margin: 0;
		width: 360px;
	}

	&.hidden-on-mobile {
		display: none;

		@media(min-width: 888px) { display: block; }
	}

	.work {
		background-color: #fff;
		box-shadow: $shadow-z-1;
		cursor: pointer;
		margin: 3px;
		width: 150px;

		@media(min-width: 360px) {
			width: 170px;
		}

		&:nth-last-child(1) { border-bottom: none; }
	}

	.work-poster-container {
		overflow: hidden;
	}

	.work-poster {
		background-color: #9dc2e8;
		margin-left: -10px;

		@media(min-width: 360px) { margin-left: 0; }
	}

	.work-name {
		color: #666;
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		padding: 12px 8px 2px 8px;
	}

	// .snap-wrapper {
	// 	height: 56px;
	// 	overflow: hidden;
	// 	position: relative;

	// 	.content {
	// 		background-color: #fff;
	// 		box-shadow: 0 0 8px 0 rgba(0, 0, 0, .25);
	// 	}

	// 	.drawer {
	// 		background-color: #888888;
	// 		box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, .25);
	// 		height: 100%;
	// 		width: 100%;
	// 	}
	// }

	.work-excerpt {
		color: #888;
		font-size: 12px;
		font-weight: 300;
		line-height: 14px;
		padding: 2px 8px 12px 8px;
	}

	.end-of-list-message {
		color: rgba(0, 0, 0, .5);
		margin: auto;
		padding: 24px 0;
		text-align: center;
		width: 208px;

		p {
			margin-bottom: 16px;
		}

		button {
			margin-top: 16px;
		}
	}
}