.work-details {
	bottom: 0;
	display: none;
	left: 0;
	padding: 54px 7px 0 10px;
	position: fixed;
	right: 0;
	top: 0;
	transition: opacity 160ms ease-out;
	z-index: 3;

	@media(min-width: 888px) {
		display: block;
		left: 350px;
	}

	&.ng-hide-add { opacity: 1; }
	&.ng-hide-add-active { opacity: 0; }
	&.ng-hide-remove { opacity: 0; }
	&.ng-hide-remove-active { opacity: 1; }

	.work-header {
		background-color: #666;
		color: #fff;
		padding: 32px 36px 24px 36px;
		position: relative;
		transition: background-color 160ms ease-out 160ms;
		z-index: 2;
	}

	.font-headline {
		margin-bottom: 16px;
	}
}

.work-details-inner {
	background-color: #fff;
	box-shadow: $shadow-z-3;
	min-height: 100%;
	padding-bottom: 80px;
	position: relative;
	transition: opacity 160ms;
	z-index: 1;
}

.job-details-background {
	background-color: $grey-100;
	height: 100%;
	left: 8px;
	position: absolute;
	right: 8px;
	top: 54px;
	z-index: 0;
}