.work-list {
	margin: auto;
	padding: 108px 4px 10px 4px;
	transform: translate3d(0, 0, 0);
	width: 320px;
	z-index: 1;

	@media(min-width: 360px) { width: 360px; }
	@media(min-width: 375px) { width: 372px; }
	@media(min-width: 536px) { width: 536px; }
	@media(min-width: 712px) { width: 712px; }
	@media(min-width: 888px) {
		margin: 0;
		width: 360px;
	}

	&.hidden-on-mobile {
		display: none;

		@media(min-width: 888px) { display: block; }
	}

	.work {
		background-color: #fff;
		box-shadow: $shadow-z-1;
		cursor: pointer;
		float: left;
		margin: 3px;
		padding-bottom: 12px;
		width: 150px;

		@media(min-width: 360px) { width: 170px; }
		@media(min-width: 375px) { margin: 6px; }
		@media(min-width: 536px) { margin: 3px; }

		&:nth-last-child(1) { border-bottom: none; }
	}

	.work-poster-container {
		overflow: hidden;
	}

	.work-poster {
		background-color: #9dc2e8;
		height: 150px;
		width: 150px;

		@media(min-width: 360px) {
			height: 170px;
			width: 170px;
		}
	}

	.work-name {
		color: #666;
		font-size: 16px;
		font-weight: 400;
		line-height: 16px; 
		overflow: hidden;
		padding: 12px 8px 2px 8px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.work-excerpt {
		color: #888;
		font-size: 12px;
		font-weight: 300;
		height: 44px;
		line-height: 14px;
		overflow: hidden;
		padding: 2px 8px 0 8px;
	}

	.end-of-list-message {
		color: rgba(0, 0, 0, .5);
		margin: auto;
		padding: 24px 0;
		text-align: center;
		width: 208px;

		p {
			margin-bottom: 16px;
		}

		button {
			margin-top: 16px;
		}
	}
}