.work-details {
	left: 0;
	min-height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;

	@media(min-width: 888px) {
		bottom: 0;
		display: block;
		left: 350px;
		padding: 54px 7px 0 10px;
		position: fixed;
		right: 8px;
	}

	&.ps-container {
		bottom: 0;
		overflow: hidden;
	}

	.work-details-background,
	.work-details-inner {
		background-color: #fff;
		max-width: 940px;
		min-height: 100%;
		top: 54px;
	}

	.work-details-background {
		display: none;
		position: absolute;
		width: 100%;
		z-index: 0;

		@media(min-width: 888px) {
			left: 10px;
			right: 8px;
		}
	}

	.work-details-inner {
		left: 0;
		opacity: 1;
		position: absolute;
		right: 0;
		z-index: 1;

		@media(min-width: 888px) {
			box-shadow: $shadow-z-3;
			left: 10px;
			right: 7px;	
			transition: all 320ms; 		
		}

		&.ng-enter {
			opacity: 0;
			z-index: 1;
		}

		&.ng-enter-active {
			opacity: 1;
			z-index: 1;
		}

		&.ng-leave {
			box-shadow: $shadow-z-3;
			opacity: 1;
			z-index: 0;
		}

		&.ng-leave-active {
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
			opacity: 1;
			z-index: 0;
		}
	}

	.detail-toolbar {
		background-color: $slate-500;
		box-shadow: $shadow-z-3;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 3;

		@media(min-width:888px) {
			background-color: transparent;
			box-shadow: none;
			left: auto;
			position: absolute;
		}

		.previous-next-buttons {
			position: absolute;
			right: 8px;
			top: 0;
		}

		.button {
			color: #fff;	
			height: 54px;

			@media(min-width:888px) {
				color: $slate-700;
				opacity: .75;
			}
		}

		.icon {
			fill: #fff;
			height: 18px;
			width: 18px;

			@media(min-width:888px) {
				color: $slate-700;
			}
		}

		.button-back {
			@media(min-width: 888px) { display: none; }
		}
	}

	.work-header {
		min-height: 192px;
		overflow: hidden;
		padding: 32px;
		position: relative;

		@media(min-width: 888px) {
			padding-top: 54px;
		}
	}

	.header-background {
		background-position: center center;
		background-size: cover;
		bottom: 8px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	.header-foreground {
		position: relative;
		z-index: 1;
	}

	.font-headline {
		margin-bottom: 16px;
		text-shadow: 0 0 24px rgba(255, 255, 255, 1);
	}

	.font-subheadline,
	.time {
		color: rgba(0, 0, 0, .5);
		line-height: 16px;
		text-shadow: 0 0 12px rgba(255, 255, 255, .5);
	}

	.font-subheadline {
		font-size: 18px;
		margin-bottom: 4px;
	}

	.time {
		font-size: 14px;
		font-weight: 300;
	}

	.work-body {
		padding: 16px 16px 96px 16px;

		@media(min-width: 888px) {
			padding: 32px 32px 96px 32px;
		}	
	}

	.work-figure {
		margin-bottom: 32px;
	}

	.work-image {
		height: auto;
		max-width: 750px;
		//visibility: hidden;
		width: 100%;

		@media(min-width: 888px) {
			float: left;		
		}
	}

	.image-caption {
		line-height: 16px;
		margin-top: 4px;

		@media(min-width: 888px) {
			float: right;
			margin-top: 0;
			width: 100px;			
		}
	}
}