@import url(libs/angular-snap.css);
button,
.button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  line-height: 14px;
  padding: 12px 20px 12px 20px;
  text-transform: uppercase;
  -webkit-transition: background-color 150ms;
          transition: background-color 150ms; }
  button:hover, button:active,
  .button:hover,
  .button:active {
    -webkit-transition: background-color 150ms;
            transition: background-color 150ms; }

.button-fab {
  background-color: #D81B60;
  border-radius: 100%;
  bottom: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  height: 60px;
  padding: 0;
  position: fixed;
  -webkit-transition: all 160ms ease-out;
          transition: all 160ms ease-out;
  width: 60px;
  z-index: 5; }
  .button-fab.ng-hide-add {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) rotate(0);
            transform: scale3d(1, 1, 1) rotate(0); }
  .button-fab.ng-hide-add-active {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 1) rotate(180deg);
            transform: scale3d(0, 0, 1) rotate(180deg); }
  .button-fab.ng-hide-remove {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 1) rotate(-180deg);
            transform: scale3d(0, 0, 1) rotate(-180deg); }
  .button-fab.ng-hide-remove-active {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) rotate(0);
            transform: scale3d(1, 1, 1) rotate(0); }
  .button-fab.searching {
    opacity: .25; }
  .button-fab .plus {
    -webkit-transition: all 75ms;
            transition: all 75ms; }
    .button-fab .plus.close {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
  .button-fab.fab-add-job {
    left: 396px; }
  .button-fab.fab-job-actions {
    left: 910px; }

.button-primary {
  background-color: #D81B60;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  color: #fff; }
  .button-primary:hover {
    background-color: #E91E63; }
  .button-primary:active {
    background-color: #EC407A; }

.button-link {
  display: inline-block;
  height: 28px;
  min-width: 100px;
  opacity: .5;
  padding: 7px;
  text-align: center; }
  .button-link:hover {
    background-color: #000;
    opacity: 1; }

body {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Roboto', sans-serif; }

.font-headline {
  font-size: 46px;
  font-weight: 300; }

.font-title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 20px;
  font-weight: 500; }

.font-caption {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px; }

.font-faint {
  font-weight: 300;
  opacity: .75; }

.app-header {
  background-color: #3F51B5;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2; }
  .app-header .toolbar {
    height: 54px;
    margin: auto;
    width: 320px; }
    @media (min-width: 360px) {
      .app-header .toolbar {
        width: 360px; } }
    @media (min-width: 530px) {
      .app-header .toolbar {
        width: 530px; } }
    @media (min-width: 700px) {
      .app-header .toolbar {
        width: 700px; } }
    @media (min-width: 870px) {
      .app-header .toolbar {
        margin: 0;
        width: 360px; } }
  .app-header .tabs {
    margin: auto;
    width: 320px; }
    @media (min-width: 360px) {
      .app-header .tabs {
        width: 360px; } }
    @media (min-width: 530px) {
      .app-header .tabs {
        width: 530px; } }
    @media (min-width: 700px) {
      .app-header .tabs {
        width: 700px; } }
    @media (min-width: 870px) {
      .app-header .tabs {
        margin: 0;
        width: 360px; } }

.work-details {
  bottom: 0;
  display: none;
  left: 0;
  padding: 54px 7px 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: opacity 160ms ease-out;
          transition: opacity 160ms ease-out;
  z-index: 3; }
  @media (min-width: 888px) {
    .work-details {
      display: block;
      left: 350px; } }
  .work-details.ng-hide-add {
    opacity: 1; }
  .work-details.ng-hide-add-active {
    opacity: 0; }
  .work-details.ng-hide-remove {
    opacity: 0; }
  .work-details.ng-hide-remove-active {
    opacity: 1; }
  .work-details .work-header {
    background-color: #666;
    color: #fff;
    padding: 32px 36px 24px 36px;
    position: relative;
    -webkit-transition: background-color 160ms ease-out 160ms;
            transition: background-color 160ms ease-out 160ms;
    z-index: 2; }
  .work-details .font-headline {
    margin-bottom: 16px; }

.work-details-inner {
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  min-height: 100%;
  padding-bottom: 80px;
  position: relative;
  -webkit-transition: opacity 160ms;
          transition: opacity 160ms;
  z-index: 1; }

.job-details-background {
  background-color: #F5F5F5;
  height: 100%;
  left: 8px;
  position: absolute;
  right: 8px;
  top: 54px;
  z-index: 0; }

.card {
  height: 50px;
  width: 200px; }
  .card .content {
    background-color: #fff; }

.work-list {
  margin: auto;
  padding: 108px 4px 10px 4px;
  width: 320px; }
  @media (min-width: 360px) {
    .work-list {
      width: 360px; } }
  @media (min-width: 536px) {
    .work-list {
      width: 536px; } }
  @media (min-width: 712px) {
    .work-list {
      width: 712px; } }
  @media (min-width: 888px) {
    .work-list {
      margin: 0;
      width: 360px; } }
  .work-list .work {
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    margin: 3px;
    width: 150px; }
    @media (min-width: 360px) {
      .work-list .work {
        width: 170px; } }
    .work-list .work:nth-last-child(1) {
      border-bottom: none; }
    .work-list .work.active {
      background-color: #FAFAFA; }
  .work-list .work-poster-container {
    overflow: hidden; }
  .work-list .work-poster {
    background-color: #9dc2e8; }
  .work-list .work-name {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding: 12px 8px 2px 8px; }
  .work-list .work-excerpt {
    color: #888;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    padding: 2px 8px 12px 8px; }
  .work-list .end-of-list-message {
    color: rgba(0, 0, 0, 0.5);
    margin: auto;
    padding: 24px 0;
    text-align: center;
    width: 208px; }
    .work-list .end-of-list-message p {
      margin-bottom: 16px; }
    .work-list .end-of-list-message button {
      margin-top: 16px; }

.tabs {
  height: 50px; }
  .tabs .button {
    border-bottom: 8px solid transparent;
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: 500;
    padding: 18px 0 10px 0;
    -webkit-transition: all 150ms;
            transition: all 150ms; }
    .tabs .button:nth-child(1) {
      width: 25%; }
    .tabs .button:nth-child(2) {
      width: 35%; }
    .tabs .button:nth-child(3) {
      width: 40%; }
    .tabs .button:hover {
      border-bottom-color: #303F9F; }
    .tabs .button.active {
      border-bottom-color: #1A237E; }

html {
  -webkit-tap-highlight-color: transparent; }

body {
  background-color: #F5F5F5; }

img {
  display: block; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.ps-scrollbar-x-rail,
.ps-scrollbar-y-rail {
  display: none; }

/*# sourceMappingURL=style.css.map */