@import url(libs/angular-snap.css);
button,
.button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  line-height: 14px;
  padding: 12px 20px 12px 20px;
  text-transform: uppercase;
  transition: background-color 150ms; }
  button:hover, button:active,
  .button:hover,
  .button:active {
    transition: background-color 150ms; }

.button-primary {
  background-color: #D81B60;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.24);
  color: #fff; }
  .button-primary:hover {
    background-color: #E91E63; }
  .button-primary:active {
    background-color: #EC407A; }

.button-link {
  display: inline-block;
  height: 28px;
  min-width: 100px;
  opacity: .5;
  padding: 7px;
  text-align: center; }
  .button-link:hover {
    background-color: #000;
    opacity: 1; }

body {
  color: rgba(0, 0, 0, 0.666);
  font-family: 'Titillium Web', sans-serif; }

.font-headline {
  color: rgba(0, 0, 0, 0.666);
  font-size: 46px;
  font-weight: 200; }

.font-caption {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-style: italic; }

.app-header {
  background-color: #434957;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.32);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2; }
  .app-header .toolbar {
    height: 54px;
    margin: auto;
    width: 320px; }
    @media (min-width: 360px) {
      .app-header .toolbar {
        width: 360px; } }
    @media (min-width: 530px) {
      .app-header .toolbar {
        width: 530px; } }
    @media (min-width: 700px) {
      .app-header .toolbar {
        width: 700px; } }
    @media (min-width: 870px) {
      .app-header .toolbar {
        margin: 0;
        width: 360px; } }
  .app-header .tabs {
    margin: auto;
    width: 320px; }
    @media (min-width: 360px) {
      .app-header .tabs {
        width: 360px; } }
    @media (min-width: 530px) {
      .app-header .tabs {
        width: 530px; } }
    @media (min-width: 700px) {
      .app-header .tabs {
        width: 700px; } }
    @media (min-width: 870px) {
      .app-header .tabs {
        margin: 0;
        width: 360px; } }

.work-details {
  left: 0;
  padding: 54px 0 0 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 160ms ease-out;
  z-index: 3; }
  @media (min-width: 888px) {
    .work-details {
      bottom: 0;
      display: block;
      left: 350px;
      padding: 54px 7px 0 10px;
      position: fixed; } }
  .work-details.ng-hide-add {
    opacity: 1; }
  .work-details.ng-hide-add-active {
    opacity: 0; }
  .work-details.ng-hide-remove {
    opacity: 0; }
  .work-details.ng-hide-remove-active {
    opacity: 1; }
  .work-details .work-details-background,
  .work-details .work-details-inner {
    background-color: #fff;
    max-width: 940px;
    min-height: 100%; }
  .work-details .work-details-background {
    left: 8px;
    position: absolute;
    right: 8px;
    top: 54px;
    z-index: 0; }
    @media (min-width: 888px) {
      .work-details .work-details-background {
        left: 10px; } }
  .work-details .work-details-inner {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.32);
    overflow: hidden;
    position: relative;
    transition: opacity 160ms;
    z-index: 1; }
  .work-details .work-header {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.24);
    padding: 32px;
    position: relative; }
  .work-details .header-background {
    background-position: center center;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0; }
  .work-details .header-foreground {
    position: relative;
    z-index: 1; }
  .work-details .detail-toolbar {
    position: absolute;
    right: 16px;
    top: 16px; }
  .work-details .font-headline {
    text-shadow: 0 0 24px white; }
  .work-details .font-subheadline {
    font-size: 18px; }
  .work-details .font-subheadline,
  .work-details .time {
    color: rgba(0, 0, 0, 0.5);
    line-height: 16px;
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.5); }
  .work-details .work-body {
    padding: 32px 32px 96px 32px; }
  .work-details .work-figure {
    margin-bottom: 32px; }
  .work-details .work-image {
    float: left;
    max-width: 750px;
    width: 100%; }
  .work-details .image-caption {
    float: right;
    width: 100px; }

.work-list {
  margin: auto;
  padding: 108px 4px 10px 4px;
  width: 320px; }
  @media (min-width: 360px) {
    .work-list {
      width: 360px; } }
  @media (min-width: 536px) {
    .work-list {
      width: 536px; } }
  @media (min-width: 712px) {
    .work-list {
      width: 712px; } }
  @media (min-width: 888px) {
    .work-list {
      margin: 0;
      width: 360px; } }
  .work-list .work {
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
    margin: 3px;
    width: 150px; }
    @media (min-width: 360px) {
      .work-list .work {
        width: 170px; } }
    .work-list .work:nth-last-child(1) {
      border-bottom: none; }
  .work-list .work-poster-container {
    overflow: hidden; }
  .work-list .work-poster {
    background-color: #9dc2e8;
    margin-left: -10px; }
    @media (min-width: 360px) {
      .work-list .work-poster {
        margin-left: 0; } }
  .work-list .work-name {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding: 12px 8px 2px 8px; }
  .work-list .work-excerpt {
    color: #888;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    padding: 2px 8px 12px 8px; }
  .work-list .end-of-list-message {
    color: rgba(0, 0, 0, 0.5);
    margin: auto;
    padding: 24px 0;
    text-align: center;
    width: 208px; }
    .work-list .end-of-list-message p {
      margin-bottom: 16px; }
    .work-list .end-of-list-message button {
      margin-top: 16px; }

.tabs {
  height: 50px; }
  .tabs .button {
    border-bottom: 8px solid transparent;
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: 500;
    padding: 18px 0 10px 0;
    transition: all 150ms; }
    .tabs .button:nth-child(1) {
      width: 25%; }
    .tabs .button:nth-child(2) {
      width: 35%; }
    .tabs .button:nth-child(3) {
      width: 40%; }
    .tabs .button:hover {
      border-bottom-color: #293340; }
    .tabs .button.active {
      border-bottom-color: #0e151e; }

html {
  -webkit-tap-highlight-color: transparent; }

body {
  background-color: #f4f5f6; }

img {
  display: block; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.ps-scrollbar-x-rail,
.ps-scrollbar-y-rail {
  display: none; }

/*# sourceMappingURL=style.css.map */
