//globals
@import 'colors';
@import 'buttons';
@import 'typography';
@import 'shadows';

//components
@import 'header';
@import 'work-details';
@import 'work-list';
@import 'tabs';
@import 'libs/angular-snap.css';

html {
	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: #f4f5f6;
	overflow-y: scroll; 
}

img {
	display: block;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.ps-scrollbar-x-rail,
.ps-scrollbar-y-rail {
	display: none;
}